#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	$(MAKE) all-full

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp prefix=/usr

override_dh_install:
	dh_install -ptaskhealthd \
		usr/sbin/taskhealthd \
		usr/lib/systemd/system/taskhealthd.service \
		usr/share/man/man8/taskhealthd.8 \
		usr/share/man/man7/taskhealth.7
	dh_install -plibtaskhealth0 \
		usr/lib/libtaskhealth.so.0 \
		usr/lib/libtaskhealth.so.0.2.1
	dh_install -plibtaskhealth-dev \
		usr/lib/libtaskhealth.a \
		usr/lib/libtaskhealth.so \
		usr/lib/pkgconfig/taskhealth.pc \
		usr/include/taskhealth.h \
		usr/include/taskhealth_mutex.h \
		usr/include/taskhealth/protocol.h
	dh_install -ptaskhealth-demo \
		usr/bin/taskhealth-demo \
		usr/share/man/man1/taskhealth-demo.1
